    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">{{authorFullName}}</h1>
                        <hr class="star-light">
                        <span class="skills">{{skills}}</span></br>
                        <span class="skills">Status: {{status}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

